<main>  
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-10">
                <div class="col-lg-12">
                    <div class="card bg-gradient-secondary shadow">
                      <div class="card-body p-lg-5">
                        <h4 class="mb-1">Mensajería:</h4>                 
                        <h5 class="mb-1">{{departamento}}
                          <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" (click)="botons()">Secretaría</a></li>
                            <li><a class="dropdown-item" (click)="botonc()">Cobranzas</a></li>
                            <li><a class="dropdown-item" (click)="botono()">Obras públicas</a></li>
                            <li><a class="dropdown-item" (click)="botont()">Talento humano</a></li>
                            <li><a class="dropdown-item" (click)="botonco()">Comunicación</a></li>
                            <li><a class="dropdown-item" (click)="botonj()">Jurídico</a></li>
                            </ul>
                          </div>
                        </h5>
                        <ul id="chat" style="height: 250px; overflow: auto">
                          <li [ngClass]="{'you': chat.remitente == 'usuario' , 'me': chat.remitente == 'administrador'}" *ngFor="let chat of reverso; let first = first; let last = last;">
                            <div class="entete">
                              <h3>{{chat.fecha}} {{chat.hora}}</h3><br>
                              <h2 style="text-transform:uppercase">{{chat.remitente}}:</h2>
                            </div>
                            <div class="message">
                              {{chat.mensaje}}
                            </div>
                          </li>
                        </ul>
                        <div class="form-group mb-4">
                          <textarea class="form-control form-control-alternative" type="text" name="txt" rows="1" cols="80" placeholder="Escriba su mensaje..."[(ngModel)]="txt"></textarea>
                        </div>
                        <div>
                          <button type="button" class="btn btn-default btn-round btn-block btn-lg" (click)="guardarMensaje()">Enviar mensaje</button>
                        </div>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  

