<main>  
   
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-18">
              
                  <div class="card bg-gradient-secondary shadow">
                    <div class="card-body p-lg-18">
                      <h4 class="mb-1">Turnos:</h4>
                      <h5 class="mb-1" style="text-transform:uppercase;">{{nombre}} {{apellido}}</h5>
                      <div class="table-responsive" style="width: 300px; height: 350px; overflow: auto" [ngClass]="{'focused':focus1===true}">
                        <table class="table">
                          <thead style="background-color: #2e1d50; color: white;"> 
                            <td>Fecha</td>
                            <td>Departamento</td>
                            <td>Turno</td>
                          </thead>
                          <tbody>
                            <tr *ngFor="let turno of turnos" (click) = "removeId(turno)">
                              <td>{{turno.fecha}}</td>
                              <td>{{turno.departamento}}</td>
                              <td>{{turno.numero}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
        
      </div>
    </div>
  </section>
</main>


